<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wasabiapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WasabiApp">
        <activity
            android:name=".ActivityHealthTracking"
            android:exported="true" />
        <activity
            android:name=".BookingClinic3"
            android:exported="true" />
        <activity
            android:name=".BookingClinic2"
            android:exported="true" />
        <activity
            android:name=".BookingHospital3"
            android:exported="true" />
        <activity
            android:name=".BookingHospital2"
            android:exported="true" />
        <activity
            android:name=".BookingDoctor3"
            android:exported="true" />
        <activity
            android:name=".BookingDoctor2"
            android:exported="true" />
        <activity
            android:name=".BookingSpecialist4"
            android:exported="true" />
        <activity
            android:name=".BookingSpecialist3"
            android:exported="true" />
        <activity
            android:name=".BookingHospital"
            android:exported="true"
            android:screenOrientation="portrait" >

        </activity>
        <activity
            android:name=".BookingClinic"
            android:exported="true"
            android:screenOrientation="portrait" >

        </activity>
        <activity
            android:name=".BookingDoctor"
            android:exported="true"
            android:screenOrientation="portrait" >

        </activity>
        <activity
            android:name=".BookingSpecialist2"
            android:exported="true"
            android:screenOrientation="portrait" >

        </activity>
        <activity
            android:name=".BookingSpecialist1"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityLoginAndRegister"
            android:exported="true" />
        <activity
            android:name=".Navigation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityInsertOTPRegister"
            android:exported="true" />
        <activity
            android:name=".ActivityWelcome"
            android:exported="true" />
        <activity
            android:name=".ActivityRegister"
            android:exported="true" >

        </activity>
        <activity
            android:name=".ActivityNewPassword"
            android:exported="true" />
        <activity
            android:name=".ActivityInsertOTPNewPass"
            android:exported="true" />
        <activity
            android:name=".ActivityInsertPhoneNumber"
            android:exported="true" />
    </application>

</manifest>