<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wasabiapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WasabiApp">
        <activity
            android:name=".ActivityLoginAndRegister"
            android:exported="true" />
        <activity
            android:name=".ActivityInsertOTPRegister"
            android:exported="true" />
        <activity
            android:name=".ActivityWelcome"
            android:exported="true" />
        <activity
            android:name=".ActivityRegister"
            android:exported="true" />
        <activity
            android:name=".ActivityNewPassword"
            android:exported="true" />
        <activity
            android:name=".ActivityInsertOTPNewPass"
            android:exported="true" />
        <activity
            android:name=".ActivityInsertPhoneNumber"
            android:exported="true" />
        <activity
            android:name=".Navigation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>